<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="__CSS__/rc-template-jd.css" />
		<title></title>
	</head>
	<script>
		var module='__MODULE__';
		var img = "__IMG__/img";
	</script>
	<body>
		<div id="template">
			<div class="templateTitle"><a href="{:U('jh/jh1')}"><img src="__IMG__/img/blue-back.png"></a>下织单统计</div>
			<div class="templateSelectBox">
				<div class="floor">
					<div class="aJgs">按加工商<img src="__IMG__/img/arrow.png"></div>
					<div class="aSj">按时间<img src="__IMG__/img/arrow.png"></div>
					<div class="aBh">按品名<img src="__IMG__/img/arrow.png"></div>
					<div class="gd">更多<img src="__IMG__/img/arrow.png"></div>
				</div>
				<div class="floor2">
					<div class="aGg">按规格</div>
					<div class="aYs">按颜色</div>
				</div>
			</div>
			<div class="templateContent">
				<ul>

				</ul>
			</div>
			<div class="templateZt">
				<div class="ztActive">全部</div>
				<div>未结单</div>
				<div>已结单</div>
				<div class="box"></div>
			</div>
			<div id="templateContentMx">
				<div class="Mxtitle">详情信息</div>
				<ul>

				</ul>
				<div class="confirm">
					<div>确定</div>
				</div>
			</div>
			<div id="templateSelectMask">
				<input type="text" placeholder="请输入关键字搜索" value="" />
				<div class="dateS">
					<input type="date" value="" />-
					<input type="date" value="" />
				</div>
				<ul>
					<li>没有数据</li>
				</ul>
				<div class="maskBottom">
					<div>确定</div>
					<div>取消</div>
				</div>
			</div>
		</div>
		<script src="__JS__/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/Tools.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/rc-xzdtj.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
